<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- soap-builder part -->
    <bean id="wsdlParser" class="com.centeractive.ws.builder.core.WsdlParser" factory-method="parse">
        <constructor-arg>
            <value>http://www.webservicex.net/CurrencyConvertor.asmx?WSDL</value>
        </constructor-arg>
    </bean>

    <bean id="soapContext" class="com.centeractive.ws.SoapContext">
        <constructor-arg name="exampleContent" type="boolean" value="true"/>
        <constructor-arg name="typeComments" type="boolean" value="true"/>
        <constructor-arg name="buildOptional" type="boolean" value="true"/>
        <constructor-arg name="alwaysBuildHeaders" type="boolean" value="true"/>
        <constructor-arg name="valueComments" type="boolean" value="true"/>
    </bean>

    <bean id="soapBuilder" class="com.centeractive.ws.builder.SoapBuilder" factory-bean="wsdlParser" factory-method="getBuilder">
        <constructor-arg name="bindingName">
            <value>{http://www.webserviceX.NET/}CurrencyConvertorSoap</value>
        </constructor-arg>
        <constructor-arg name="context" ref="soapContext"/>
    </bean>


    <!-- soap-client part -->
    <bean id="soapClientFactory" class="com.centeractive.ws.client.core.SoapClientFactory">
        <property name="endpointUrl" value="http://onet.pl:80"/>
    </bean>

    <bean id="soapClient" class="com.centeractive.ws.client.core.SoapClient" factory-bean="soapClientFactory" factory-method="create"/>

    <!-- soap-server part -->
    <bean id="autoResponder" class="com.centeractive.ws.server.responder.AutoResponder">
        <constructor-arg ref="soapBuilder"/>
    </bean>

</beans>